<section class="hero hero-docs">
  <div class="row hero-body middle">
    <div class="col xs12 sm8">
      <h1 class="text dark">Card</h1>
      <h3 class="text fw400">Multipurpose component to contain contents and actions about a particular item.</h3>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="col xs12 sm6">
      <section class="card">
        <img class="card-img top" src="../../../assets/img/stock3.jpg" alt="stock photo example">
        <div class="card-body">
          <h3 class="card-title">Card Title</h3>
          <h4 class="card-subtitle">Subtitle</h4>
          <p class="card-text">Twee adaptogen blue bottle helvetica edison bulb readymade palo santo
            wolf sartorial next level. Readymade blue bottle disrupt fixie cliche chartreuse post-ironic.</p>
          <button class="btn secondary outline">Action</button>
        </div>
      </section>
    </div>
    <div class="col xs12 sm6">
      <section class="card">
        <img class="card-img top" src="../../../assets/img/stock2.jpg" alt="stock photo example">
        <div class="card-body">
          <h3 class="card-title">Card Title</h3>
          <h4 class="card-subtitle">Subtitle</h4>
          <p class="card-text">Food truck banjo blog synth selvage prism tilde organic woke poke
            jianbing etsy deep v 90's palo santo. Tumeric kinfolk mixtape whatever, banh mi chia celiac edison bulb.</p>
        </div>
      </section>
    </div>
  </div>
</section>
