<section id="cards">
    <h2>Cards</h2>
    <p>Cards contain content and actions about a single subject.</p>
    <p>They should be easy scan for relevant information and/or actions about their subject. Elements, such as text or images, should be placed in order of importance and clearly indicate hierarchy.</p>
    <div class="row">
    <div class="col-xs-12 col-sm-6">
        <section class="card">
            <img class="card__img card__img--top" src="../../../assets/img/stock3.jpg" alt="stock photo example">
            <div class="card__body">
            <h3 class="card__title">Card Title</h3>
            <h4 class="card__subtitle">Subtitle</h4>
            <p class="card__text">Twee adaptogen blue bottle helvetica edison bulb readymade palo santo 
                wolf sartorial next level. Readymade blue bottle disrupt fixie cliche chartreuse post-ironic.</p>
            <button class="btn  btn--secondary btn--outline">Action</button>
            </div>
        </section>
    </div>
    <div class="col-xs-12 col-sm-6">
        <section class="card">
            <img class="card__img card__img--top" src="../../../assets/img/stock2.jpg" alt="stock photo example">
            <div class="card__body">
            <h3 class="card__title">Card Title</h3>
            <h4 class="card__subtitle">Subtitle</h4>
            <p class="card__text">Food truck banjo blog synth selvage prism tilde organic woke poke 
                jianbing etsy deep v 90's palo santo. Tumeric kinfolk mixtape whatever, banh mi chia celiac edison bulb.</p>
            </div>
        </section>
    </div>
    </div>
</section>