<h3>Checkboxes</h3>
<div class="row">
  <div class="col">
    <div class="checkbox">
      <input name="pizza" id="pizza" type="checkbox" value="1" checked="checked">
      <label for="pizza">
        <div class="checkbox-box">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 25">
            <path d="M6 15l10 10L35 3" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="10"></path>
          </svg>
        </div>
        <span class="checkbox-text">
          Pizza</span>
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="checkbox">
      <input name="pasta" id="pasta" type="checkbox" value="1">
      <label for="pasta">
        <div class="checkbox-box">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 25">
            <path d="M6 15l10 10L35 3" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="10"></path>
          </svg>
        </div>
        <span class="checkbox-text">
          Pasta</span>
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="checkbox">
      <input name="pancakes" id="pancakes" type="checkbox" disabled>
      <label for="pancakes">
        <div class="checkbox-box">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 25">
            <path d="M6 15l10 10L35 3" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="10"></path>
          </svg>
        </div>
        <span class="checkbox-text">
          Pancakes</span>
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="checkbox">
      <input name="papaya" id="papaya" type="checkbox" disabled checked="checked">
      <label for="papaya">
        <div class="checkbox-box">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 25">
            <path d="M6 15l10 10L35 3" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="10"></path>
          </svg>
        </div>
        <span class="checkbox-text">
          Papaya</span>
      </label>
    </div>
  </div>
</div>
