<section class="hero docs-hero">
  <div class="row hero-body middle">
    <div class="col s12 m8">
      <h1 class="text dark">Button</h1>
      <h3 class="text fw400">Easily create attractive buttons with support for different sizes, states, and styles.</h3>
    </div>
  </div>
</section>
<section class="buttons">
  <h3 id="standardbutton"><a class="docs-link" href="#standardbutton">Standard Button</a></h3>
  <p>Standard buttons are for <strong>primary</strong> actions. They have high emphasis and should be obvious.</p>
  <div class="row">
    <div class="col">
      <button class="btn primary">Primary</button>
      <button class="btn success">Success</button>
      <button class="btn info">Info</button>
      <button class="btn warning">Warning</button>
      <button class="btn danger">Danger</button>
      <button class="btn dark">Dark</button>
      <button class="btn light">Light</button>
    </div>
  </div>

  <h3>Outlined Button</h3>
  <p>Outlined buttons are for <strong>secondary</strong> actions. They have medium emphasis - they are clear but not prominent.</p>
  <div class="row">
    <div class="col">
      <button class="btn outline primary">Primary</button>
      <button class="btn outline success">Success</button>
      <button class="btn outline info">Info</button>
      <button class="btn outline warning">Warning</button>
      <button class="btn outline danger">Danger</button>
      <button class="btn outline dark">Dark</button>
      <div class="dark">
        <button class="btn outline light">Light</button>
      </div>
    </div>
  </div>

  <h3>Link Button</h3>
  <p>Link buttons are for <strong>tertiary</strong> actions. They have low emphasis - they are discoverable but unobtrusive.</p>
  <div class="row">
    <div class="col">
      <button class="btn link primary">Primary</button>
      <button class="btn link success">Success</button>
      <button class="btn link info">Info</button>
      <button class="btn link warning">Warning</button>
      <button class="btn link danger">Danger</button>
      <div class="light">
        <button class="btn link dark">Dark</button>
      </div>
      <div class="dark">
        <button class="btn link light">Light</button>
      </div>
    </div>
  </div>

  <h3>Rounded and Squared Button</h3>
  <p>All buttons can be rounded or squared.</p>
  <div class="row">
    <div class="col">
      <button class="btn round primary">Primary</button>
      <button class="btn square success">Success</button>
      <button class="btn square outline info">Info</button>
      <button class="btn round warning">Warning</button>
      <button class="btn round outline danger">Danger</button>
      <div class="light">
        <button class="btn square dark">Dark</button>
      </div>
      <div class="dark">
        <button class="btn square light">Light</button>
      </div>
    </div>
  </div>

  <h3>Button Sizes</h3>
  <p>Buttons can be <code>.small</code>, normal, <code>.medium</code>, or <code>.large</code>.</p>
  <div class="row">
    <div class="col">
      <button class="btn primary sm">Small</button>
      <button class="btn primary">Normal</button>
      <button class="btn primary lg">Medium</button>
      <button class="btn primary xl">Large</button>
    </div>
  </div>

</section>
