@import 'variables';
@import 'mixins/breakpoints';

@include until(s) {
  .hero .btn {
    width: 100%;
  }
}

header {
  background-image: url("../../../assets/img/cubed-hero-bg.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
//   background-color: $primary;
}

.cubed-hero {
  //   background: linear-gradient(to bottom, $primary, $primary-darker);
  //   background: url("../../../assets/img/cubed-hero3.svg") 50% 2vh no-repeat,linear-gradient(to bottom, $primary, $primary-darker) 0 0 no-repeat;
  grid-area: cubed-hero;
  color: $white;

  //   padding: 0;
  section {
    @include until(s) {
      padding: 3rem 0;
    }
  }

  &-tagline {
    max-width: $bp-s;
    display: inline-block;
    line-height: 1.15;

    @include until(s) {
      font-size: 1.6rem;
    }
  }

  .cubed-logo-container {
    justify-items: center;
    align-self: center;
    text-align: center;
    width: 100%;
    // padding: 0 1rem;
    grid-area: cubed-logo-container;
    padding-top: 3rem;
    padding-bottom: 3rem;

    & .cubed-logo.-hero {
      height: 10rem;
      width: 100%;
      color: rgba($white, 0.75);
    }
  }

  .hero-buttons {
    .btn:first-of-type {
      margin-right: 1rem;
    }
  }
}

.cubed-home-links {
  grid-area: bottom-nav;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "block";
  grid-gap: 1rem;

  @include until(s) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .block {
    // &:before {
    //   display: none;
    // }
    svg {
        transition: .3s ease all;
    }
    &:hover {
      .block__subtitle {
        color: $dark;
      }

      svg {
        opacity: 1;
      }
    }

    transition: .3s ease color;

    &__title {
      //   color: $primary;
      font-size: 1.5rem;
    }

    align-self: center;
    color: inherit;

    svg {
      opacity: 0.5;
    }

    &__subtitle {
      color: rgba($dark, 0.75);
    }
  }
}

header {
  li {
    display: inline-block;

    a {
      color: rgba($white, 0.75);

      &.active {
        color: $white;
      }

      &:hover {

        &,
        & svg {
          color: $white;
        }
      }
    }
  }
}

.content {
  grid-area: content;
}

// .container {
//   max-width: 100vw;
// }

.cubed-title {

  //   display: flex;
  //   align-items: center;
  span {
    color: $white;
  }
}

.cubed-logo {
  color: rgba($white, 0.75);
}
