<article>
  <section class="hero md">
    <div class="hero__body">
      <div class="row middle-xs">
        <div class="col xs-12 sm-8">
          <h1 class="text -fw300">Easily create lightweight, responsive, and accessible web interfaces.</h1> 
          <!-- <p>Cubed CSS is a stylistic and highly customizable framework for any web project.</p> -->
        </div>
        <div class="col xs-12 sm-4">
          <div class="row">
            <div class="col xs-12">
              <a class="btn -round -primary" href="#">Download</a>
            </div>
            <div class="col xs-12">
              <a routerLink="docs" class="btn -round -outline -primary">View Docs</a>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="row">
            <a routerLink="docs/layout" class="block col">
              <svg height="3.5rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><g fill="none" fill-rule="evenodd" stroke-width="3"><rect width="22" height="22" x="30.5" y="1.5" stroke="#007FFF" rx="4"/><rect width="22" height="22" x="30.5" y="30.5" stroke="currentColor" rx="4"/><rect width="22" height="51" x="1.5" y="1.5" stroke="currentColor" rx="4"/></g></svg>
              <h3 class="block__title">Layouts made easy</h3>
              <p class="block__subtitle">Based on flexbox</p>
            </a>
            <a routerLink="docs/layout" class="block col">
              <svg height="3.5rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><g fill="none" fill-rule="evenodd" stroke-width="3"><rect width="22" height="22" x="30.5" y="1.5" stroke="#007FFF" rx="4"/><rect width="22" height="22" x="30.5" y="30.5" stroke="currentColor" rx="4"/><rect width="22" height="51" x="1.5" y="1.5" stroke="currentColor" rx="4"/></g></svg>
              <h3 class="block__title">Layouts made easy</h3>
              <p class="block__subtitle">Based on flexbox</p>
            </a>
            <a routerLink="docs/layout" class="block col">
              <svg height="3.5rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><g fill="none" fill-rule="evenodd" stroke-width="3"><rect width="22" height="22" x="30.5" y="1.5" stroke="#007FFF" rx="4"/><rect width="22" height="22" x="30.5" y="30.5" stroke="currentColor" rx="4"/><rect width="22" height="51" x="1.5" y="1.5" stroke="currentColor" rx="4"/></g></svg>
              <h3 class="block__title">Layouts made easy</h3>
              <p class="block__subtitle">Based on flexbox</p>
            </a>
            <a routerLink="docs/layout" class="block col">
                <svg height="3.5rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><g fill="none" fill-rule="evenodd" stroke-width="3"><rect width="22" height="22" x="30.5" y="1.5" stroke="#007FFF" rx="4"/><rect width="22" height="22" x="30.5" y="30.5" stroke="currentColor" rx="4"/><rect width="22" height="51" x="1.5" y="1.5" stroke="currentColor" rx="4"/></g></svg>
                <h3 class="block__title">Layouts made easy</h3>
                <p class="block__subtitle">Based on flexbox</p>
            </a>
        </div>
      </nav>
    </div>
  </section>
</article>