<section class="hero docs-hero">
  <div class="row hero-body middle">
    <div class="col xs12 sm6">
      <h1 class="text primary">Docs</h1>
      <h3 class="text fw400">Get started building your interface</h3>
    </div>
    <div class="col xs12 sm6 center">
      <button class="btn round outline primary">Download Cubed CSS</button>
    </div>
  </div>
</section>
<section class="row">
  <div class="col xs12 sm6">
    <a routerLink="/docs/elements" class="block outline">
      <h3 class="block__title">Elements</h3>
      <p class="block__subtitle">Building blocks for any interface</p>
    </a>
  </div>
  <div class="col xs12 sm6">
    <a routerLink="/docs/components" class="block outline">
      <h3 class="block__title">Components</h3>
      <p class="block__subtitle">More complex pieces of an interface, made up of elements</p>
    </a>
  </div>
  <div class="col xs12 sm6">
    <a routerLink="/docs/form" class="block outline">
      <h3 class="block__title">Form</h3>
      <p class="block__subtitle">Everything related to creating beautiful forms</p>
    </a>
  </div>
  <div class="col xs12 sm6">
    <a routerLink="/docs/layout" class="block outline">
      <h3 class="block__title">Layout</h3>
      <p class="block__subtitle">Easily create a responsive layout</p>
    </a>
  </div>
  <div class="col xs12 sm6">
    <a routerLink="/docs/utilities" class="block outline">
      <h3 class="block__title">Utilities</h3>
      <p class="block__subtitle">Tools to help you build your interface</p>
    </a>
  </div>
</section>
