.card {
    border-radius: $border-radius-large;
    box-shadow: 0 0.46875em 2.1875em rgba(90,97,105,.05), 0 0.9375em 1.40625em rgba(90,97,105,.05), 0 0.25em 0.53125em rgba(90,97,105,.06), 0 0.125em 0.1875em rgba(90,97,105,.05);
    display: block;
    background: $white;
    margin-bottom: 2em;
    transition: .3s ease box-shadow;
    

    //reset line-height to fix placement of images
    line-height: 0;
    &-img {
        border-radius: 0;
        width: 100%;
        //images can be placed at the top or bottom of a card
        &.top {
            border-top-right-radius: $border-radius-large;
            border-top-left-radius: $border-radius-large;
        }
        &.bottom {
            border-bottom-right-radius: $border-radius-large;
            border-bottom-left-radius: $border-radius-large;
        }
    }
    &-body {
        padding: 1.875em;
    }
    &-text {
        line-height: 2;
    }
    &-subtitle {
        font-weight: normal;
    }
    &-header {
        padding: 1em 1.875em;
    }

    &.-clickable {
        &:hover {
            box-shadow: 0 0.46875em 2.1875em rgba(90,97,105,.1), 0 0.9375em 1.40625em rgba(90,97,105,.1), 0 0.25em 0.53125em rgba(90,97,105,.12), 0 0.125em 0.1875em rgba(90,97,105,.1);
        }
        cursor: pointer;
    }
}