.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$row-gap;
  margin-left: -$row-gap;
  margin-top: -$row-gap;

  &:last-child {
    margin-bottom: -$row-gap;
  }

  &:not(:last-child) {
    margin-bottom: $row-gap;
  }
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

.start {
  justify-content: flex-start;
  text-align: start;
}

.center {
  justify-content: center;
  text-align: center;
}

.end {
  justify-content: flex-end;
  text-align: end;
}

.top {
  align-items: flex-start;
}

.middle {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.col {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: $row-gap;

  // xs columns
  &.xs1,
  &.xs2,
  &.xs3,
  &.xs4,
  &.xs5,
  &.xs6,
  &.xs7,
  &.xs9,
  &.xs10,
  &.xs11,
  &.xs12 {
    flex: none;
  }

  &.xs1 {
    width: 8.33333333%;
  }

  &.xs2 {
    width: 16.66666667%;
  }

  &.xs3 {
    width: 25%;
  }

  &.xs4 {
    width: 33.33333333%;
  }

  &.xs5 {
    width: 41.66666667%;
  }

  &.xs6 {
    width: 50%;
  }

  &.xs7 {
    width: 58.33333333%;
  }

  &.xs8 {
    width: 66.66666667%;
  }

  &.xs9 {
    width: 75%;
  }

  &.xs10 {
    width: 83.33333333%;
  }

  &.xs11 {
    width: 91.66666667%;
  }

  &.xs12 {
    width: 100%;
  }

  &.offset-xs {
    &0 {
      margin-left: 0;
    }

    &1 {
      margin-left: 8.33333333%;
    }

    &2 {
      margin-left: 16.66666667%;
    }

    &3 {
      margin-left: 25%;
    }

    &4 {
      margin-left: 33.33333333%;
    }

    &5 {
      margin-left: 41.66666667%;
    }

    &6 {
      margin-left: 50%;
    }

    &7 {
      margin-left: 58.33333333%;
    }

    &8 {
      margin-left: 66.66666667%;
    }

    &9 {
      margin-left: 75%;
    }

    &10 {
      margin-left: 83.33333333%;
    }

    &11 {
      margin-left: 91.66666667%;
    }
  }

  // sm columns
  @include at-least(sm) {

    &.sm1,
    &.sm2,
    &.sm3,
    &.sm4,
    &.sm5,
    &.sm6,
    &.sm7,
    &.sm9,
    &.sm10,
    &.sm11,
    &.sm12 {
      flex: none;
    }

    &.sm1 {
      width: 8.33333333%;
    }

    &.sm2 {
      width: 16.66666667%;
    }

    &.sm3 {
      width: 25%;
    }

    &.sm4 {
      width: 33.33333333%;
    }

    &.sm5 {
      width: 41.66666667%;
    }

    &.sm6 {
      width: 50%;
    }

    &.sm7 {
      width: 58.33333333%;
    }

    &.sm8 {
      width: 66.66666667%;
    }

    &.sm9 {
      width: 75%;
    }

    &.sm10 {
      width: 83.33333333%;
    }

    &.sm11 {
      width: 91.66666667%;
    }

    &.sm12 {
      width: 100%;
    }

    &.offset-sm {
      &0 {
        margin-left: 0;
      }

      &1 {
        margin-left: 8.33333333%;
      }

      &2 {
        margin-left: 16.66666667%;
      }

      &3 {
        margin-left: 25%;
      }

      &4 {
        margin-left: 33.33333333%;
      }

      &5 {
        margin-left: 41.66666667%;
      }

      &6 {
        margin-left: 50%;
      }

      &7 {
        margin-left: 58.33333333%;
      }

      &8 {
        margin-left: 66.66666667%;
      }

      &9 {
        margin-left: 75%;
      }

      &10 {
        margin-left: 83.33333333%;
      }

      &11 {
        margin-left: 91.66666667%;
      }
    }
  }

  // md columns
  @include at-least(md) {

    &.md1,
    &.md2,
    &.md3,
    &.md4,
    &.md5,
    &.md6,
    &.md7,
    &.md9,
    &.md10,
    &.md11,
    &.md12 {
      flex: none;
    }

    &.md1 {
      width: 8.33333333%;
    }

    &.md2 {
      width: 16.66666667%;
    }

    &.md3 {
      width: 25%;
    }

    &.md4 {
      width: 33.33333333%;
    }

    &.md5 {
      width: 41.66666667%;
    }

    &.md6 {
      width: 50%;
    }

    &.md7 {
      width: 58.33333333%;
    }

    &.md8 {
      width: 66.66666667%;
    }

    &.md9 {
      width: 75%;
    }

    &.md10 {
      width: 83.33333333%;
    }

    &.md11 {
      width: 91.66666667%;
    }

    &.md12 {
      width: 100%;
    }

    &.offset-md {
      &0 {
        margin-left: 0;
      }

      &1 {
        margin-left: 8.33333333%;
      }

      &2 {
        margin-left: 16.66666667%;
      }

      &3 {
        margin-left: 25%;
      }

      &4 {
        margin-left: 33.33333333%;
      }

      &5 {
        margin-left: 41.66666667%;
      }

      &6 {
        margin-left: 50%;
      }

      &7 {
        margin-left: 58.33333333%;
      }

      &8 {
        margin-left: 66.66666667%;
      }

      &9 {
        margin-left: 75%;
      }

      &10 {
        margin-left: 83.33333333%;
      }

      &11 {
        margin-left: 91.66666667%;
      }
    }
  }

  // lg columns
  @include at-least(lg) {

    &.lg1,
    &.lg2,
    &.lg3,
    &.lg4,
    &.lg5,
    &.lg6,
    &.lg7,
    &.lg9,
    &.lg10,
    &.lg11,
    &.lg12 {
      flex: none;
    }

    &.lg1 {
      width: 8.33333333%;
    }

    &.lg2 {
      width: 16.66666667%;
    }

    &.lg3 {
      width: 25%;
    }

    &.lg4 {
      width: 33.33333333%;
    }

    &.lg5 {
      width: 41.66666667%;
    }

    &.lg6 {
      width: 50%;
    }

    &.lg7 {
      width: 58.33333333%;
    }

    &.lg8 {
      width: 66.66666667%;
    }

    &.lg9 {
      width: 75%;
    }

    &.lg10 {
      width: 83.33333333%;
    }

    &.lg11 {
      width: 91.66666667%;
    }

    &.lg12 {
      width: 100%;
    }

    &.offset-lg {
      &0 {
        margin-left: 0;
      }

      &1 {
        margin-left: 8.33333333%;
      }

      &2 {
        margin-left: 16.66666667%;
      }

      &3 {
        margin-left: 25%;
      }

      &4 {
        margin-left: 33.33333333%;
      }

      &5 {
        margin-left: 41.66666667%;
      }

      &6 {
        margin-left: 50%;
      }

      &7 {
        margin-left: 58.33333333%;
      }

      &8 {
        margin-left: 66.66666667%;
      }

      &9 {
        margin-left: 75%;
      }

      &10 {
        margin-left: 83.33333333%;
      }

      &11 {
        margin-left: 91.66666667%;
      }
    }
  }

  // xl columns
  @include at-least(xl) {

    &.xl1,
    &.xl2,
    &.xl3,
    &.xl4,
    &.xl5,
    &.xl6,
    &.xl7,
    &.xl9,
    &.xl10,
    &.xl11,
    &.xl12 {
      flex: none;
    }

    &.xl1 {
      width: 8.33333333%;
    }

    &.xl2 {
      width: 16.66666667%;
    }

    &.xl3 {
      width: 25%;
    }

    &.xl4 {
      width: 33.33333333%;
    }

    &.xl5 {
      width: 41.66666667%;
    }

    &.xl6 {
      width: 50%;
    }

    &.xl7 {
      width: 58.33333333%;
    }

    &.xl8 {
      width: 66.66666667%;
    }

    &.xl9 {
      width: 75%;
    }

    &.xl10 {
      width: 83.33333333%;
    }

    &.xl11 {
      width: 91.66666667%;
    }

    &.xl12 {
      width: 100%;
    }

    &.offset-xsl {
      &0 {
        margin-left: 0;
      }

      &1 {
        margin-left: 8.33333333%;
      }

      &2 {
        margin-left: 16.66666667%;
      }

      &3 {
        margin-left: 25%;
      }

      &4 {
        margin-left: 33.33333333%;
      }

      &5 {
        margin-left: 41.66666667%;
      }

      &6 {
        margin-left: 50%;
      }

      &7 {
        margin-left: 58.33333333%;
      }

      &8 {
        margin-left: 66.66666667%;
      }

      &9 {
        margin-left: 75%;
      }

      &10 {
        margin-left: 83.33333333%;
      }

      &11 {
        margin-left: 91.66666667%;
      }
    }
  }
}

@include until(sm) {
  .container {
    max-width: $bp-sm;
  }

  .start-xs {
    justify-content: flex-start;
    text-align: start;
  }

  .center-xs {
    justify-content: center;
    text-align: center;
  }

  .end-xs {
    justify-content: flex-end;
    text-align: end;
  }

  .top-xs {
    align-items: flex-start;
  }

  .middle-xs {
    align-items: center;
  }

  .bottom-xs {
    align-items: flex-end;
  }

  .around-xs {
    justify-content: space-around;
  }

  .between-xs {
    justify-content: space-between;
  }

  .first-xs {
    order: -1;
  }

  .last-xs {
    order: 1;
  }
}

@include at-least(sm) {
  .container {
    max-width: $bp-sm;
  }

  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@include at-least(md) {
  .container {
    width: $bp-md;
    max-width: $bp-md;
  }

  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@include at-least(lg) {
  .container {
    max-width: $bp-lg;
    width: $bp-lg;
  }

  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@include at-least(xl) {
  .container {
    max-width: $bp-xl;
    width: $bp-xl;
  }
}
