// Every CSS measurement unit is REM-based. 1rem = 16px by default. 
// You can calculate REM's by multiplying the normal, px value by 1/16 or 0.0625. 
// For example, 8px is 0.5rem.
// The advantage of using REM's is that someone can change their font-size on their browser, and the entire website will respond to that change

//colors
$black: #000;
$white: #fff;
$gray: #757575;
$gray-light: mix($gray, $white, 50%);
$gray-dark: mix($gray, $black, 50%);

$primary: #007fff;
$complementary: #007bff;
$secondary: #e8006d;

// feedback colors
$success: #00c73c;
$info: #4ca5ff;
$warning: #F0544F;
$danger: #ff0000;
$dark: #333;

$background: mix(mix($primary, $white, 5%), #eee, 50%);
$background-light: mix(rgba($primary, 0.05), rgba($dark, 0.05), 50%);

// border radii
$border-radius-small: .375em;
$border-radius-base: .625em;
$border-radius-large: 1em;


// breakpoints
$bp-xl: 75rem; // 1200px
$bp-lg: 62rem; // 992px
$bp-md: 48rem; // 768px
$bp-sm: 36rem; // 576px
$bp-xs: 24rem; // 384px


// layout variables
$row-gap: 0.75rem;