<h3>Radio Buttons</h3>
<div class="row">
  <div class="col">
    <input name="food" id="banana" type="radio" checked="checked">
    <label for="banana">
      Banana
    </label>
  </div>
</div>
<div class="row">
  <div class="col">
    <input name="food" id="butter" type="radio">
    <label for="butter">
      Butter
    </label>
  </div>
</div>
<div class="row">
  <div class="col">
    <input name="food2" id="bread" type="radio" disabled>
    <label for="bread">
      Bread
    </label>
  </div>
</div>
<div class="row">
  <div class="col">
    <input name="food2" id="beans" type="radio" checked="checked" disabled>
    <label for="beans">
      Beans
    </label>
  </div>
</div>
