<header class="middle">
  <nav class="container">
    <ul class="row middle">
      <li class="col xs-5 sm-4"><a class="link text -lg -bold" routerLink="/">Cubed <span class="text -primary">CSS</span></a></li>
      <li class="col sm-offset-4 xs-3 sm-2 center"><a class="link text -md -fw300" routerLinkActive="active" routerLink="/docs">Docs</a></li>
      <li class="col xs-3 sm-2 center"><a class="link text -md -fw300" routerLinkActive="active" routerLink="/about">About</a></li>
    </ul>
  </nav>
</header>
<div class="content container">
<router-outlet></router-outlet>
</div>
