@import 'variables';
header  {
    li {
        a {
            text-decoration: none;
            color: rgba($white, 0.75);
            transition: .3s ease all;
            &.active {
                color: $white;
                font-weight: 500;
            }
            &:hover {
                color: $white;
            }
        }
    }
    ul {
        padding: 0;
    }
}

.content {
    grid-area: content;
}
header {
    grid-area: header;                 
    width: 100%;
    position: relative;
    background: $primary;
}

.cubed-title {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    span {
        color: $white;
    }
}

.cubed-logo {
    height: 2.5rem;
    margin-right: 1rem;
}