@import 'variables';
header  {
    li {
        a {
            text-decoration: none;
            color: mix($gray, $white, 85%);
            transition: .3s ease all;
            &.active {
                color: $black;
                font-weight: 500;
            }
            &:hover {
                color: $gray-dark;
            }
        }
    }
    ul {
        padding: 0;
    }
}

.content {
    grid-area: content;
}
header {
    grid-area: header;                 
    width: 100%;
    position: relative;
    background: $background-light;
}

.cubed-title {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.cubed-logo {
    height: 2.5rem;
    margin-right: 1rem;
}