<header class="row no-margin middle">
  <nav class="col no-padding container">
    <ul class="row middle">
      <li class="col xs8 sm4"><a class="cubed-title link text lg fw600" routerLink="/">
          <svg class="cubed-logo" xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 500 584">
            <g fill="none" fill-rule="evenodd">
              <path fill="#007FFF" d="M376 78L246 0 0 149v289l246 146 130-70v-90l-130 67L80 390V193l166-95 130 70z" />
              <path fill="currentColor" d="M416 101l84 51v295l-84 46z" />
            </g>
          </svg> Cubed <span class="text primary">CSS</span></a></li>
      <li class="col offset-sm6 xs4 sm2 center"><a class="link text md fw300" routerLinkActive="active" routerLink="/docs">Docs</a></li>
      <!-- <li class="col xs-3 sm-2 center"><a class="link text md fw300" routerLinkActive="active" routerLink="/about">About</a></li> -->
    </ul>
  </nav>
</header>
<div [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''" class="content router-wrapper">
  <router-outlet #o="outlet"></router-outlet>
</div>
