<section class="buttons" id="buttons">
    <h2>Buttons</h2>
    <p>Buttons express what action will occur when the user clicks or touches it. Buttons are used to initialize an action, either in the background or foreground of an experience. </p>
    <p>There are different styles and sizes for buttons and it's important to use the correct button type to communicate its place in the hierarchy. </p>
    <h3>Standard Buttons</h3>
    <p>Standard buttons are for <b>primary</b> actions. They have high emphasis and should be obvious.</p>
    <button class="btn -primary">Primary</button>
    <button class="btn -secondary">Secondary</button>
    <button class="btn -success">Success</button>
    <button class="btn -info">Info</button>
    <button class="btn -warning">Warning</button>
    <button class="btn -danger">Danger</button>
    <button class="btn -dark">Dark</button>
    <button class="btn -light">Light</button>

    <h3>Outlined Buttons</h3>
    <p>Outlined buttons are for <b>secondary</b> actions. They have medium emphasis - they are clear but not prominent.</p>
    <button class="btn -outline -primary">Primary</button>
    <button class="btn -outline -secondary">Secondary</button>
    <button class="btn -outline -success">Success</button>
    <button class="btn -outline -info">Info</button>
    <button class="btn -outline -warning">Warning</button>
    <button class="btn -outline -danger">Danger</button>
    <button class="btn -outline -dark">Dark</button>
    <div class="dark">
    <button class="btn -outline -light">Light</button>
    </div>

    <h3>Link Buttons</h3>
    <p>Link buttons are for <b>tertiary</b> actions. They have low emphasis - they are discoverable but unobtrusive.</p>
    <button class="btn -link -primary">Primary</button>
    <button class="btn -link -secondary">Secondary</button>
    <button class="btn -link -success">Success</button>
    <button class="btn -link -info">Info</button>
    <button class="btn -link -warning">Warning</button>
    <button class="btn -link -danger">Danger</button>
    <div class="light">
    <button class="btn -link -dark">Dark</button>
    </div>
    <div class="dark">
    <button class="btn -link -light">Light</button>
    </div>

    <h3>Rounded and Squared Buttons</h3>
    <p>All buttons can be rounded or squared.</p>
    <button class="btn -round -primary">Primary</button>
    <button class="btn -round -outline -secondary">Secondary</button>
    <button class="btn -square -success">Success</button>
    <button class="btn -square -outline -info">Info</button>
    <button class="btn -round -warning">Warning</button>
    <button class="btn -round -outline -danger">Danger</button>
    <div class="light">
    <button class="btn -square -dark">Dark</button>
    </div>
    <div class="dark">
    <button class="btn -square -light">Light</button>
    </div>
    
</section>