<section class="hero docs-hero">
  <div class="row hero-body middle">
    <div class="col s12 sm8">
      <h1 class="text dark">Columns</h1>
      <h3 class="text fw400">An easy way to create responsive column layouts.</h3>
    </div>
  </div>
</section>
<section>
  <h3>Creating column layouts is very easy</h3>
  <ol>
    <li>Add a <code>.row</code> container</li>
    <li>Add any number of <code>.col</code> elements and they'll all be equal width automatically</li>
  </ol>
  <div class="row">
    <div class="col">
      <p>.col</p>
    </div>
    <div class="col">
      <p>.col</p>
    </div>
    <div class="col">
      <p>.col</p>
    </div>
    <div class="col">
      <p>.col</p>
    </div>
  </div>
</section>
<section>
  <h3>Responsive 12 Column System</h3>
  <ul>
    <li>Each <code>.row</code> container can be divided into up to 12 <code>.col</code> elements</li>
    <li>Use the following modifier classes:</li>
    <ol>
      <li><code>-1</code></li>
      <li><code>-2</code></li>
      <li><code>-3</code></li>
      <li><code>-4</code></li>
      <li><code>-5</code></li>
      <li><code>-6</code></li>
      <li><code>-7</code></li>
      <li><code>-8</code></li>
      <li><code>-9</code></li>
    </ol>
  </ul>
  <div class="row">
    <div class="col s1">
      <p>.col</p>
    </div>
    <div class="col s12">
      <p>.col</p>
      <div class="row">
        <div class="col s6"><p>.col</p></div>
        <div class="col s6"><p>.col</p></div>
      </div>
    </div>
    <div class="col s3">
      <p>.col</p>
    </div>
    <div class="col s9">
      <p>.col</p>
    </div>
  </div>
</section>
