<section class="hero docs-hero">
  <div class="row hero-body middle">
    <div class="col xs12 sm8">
      <h1 class="text dark">Breakpoints</h1>
      <h3 class="text fw400">Cubed CSS uses <a routerLink="/docs/customize">5 breakpoint variables</a> throughout the framework</h3>
    </div>
  </div>
</section>
<section>
  <table class="table">
    <thead>
      <tr>
        <th>Breakpoint</th>
        <th>Width</th>
        <th>Device</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Extra Large</td>
        <td>&lt; 1200px or 75rem</td>
        <td>Large Desktop</td>
      </tr>
      <tr>
        <td>Large</td>
        <td>&lt; 992px or 62rem</td>
        <td>Desktop</td>
      </tr>
      <tr>
        <td>Medium</td>
        <td>&lt; 768px or 48rem</td>
        <td>Tablet or Large Phone</td>
      </tr>
      <tr>
        <td>Small</td>
        <td>&lt; 576px or 36rem</td>
        <td>Phone</td>
      </tr>
      <tr>
        <td>Extra Small</td>
        <td>&lt; 384px or 24rem</td>
        <td>Small Phone</td>
      </tr>
    </tbody>
  </table>
</section>
