@import "assets/scss/cubed-css/cubed";

li {
  list-style: none;
}

header {
  grid-area: header;
  width: 100%;
  position: relative;
}
.cubed-logo {
  height: 2.5rem;
  margin-right: 1rem;
}

cubed-home {
  display: grid;
  grid-template-areas: "cubed-hero""bottom-nav";
  grid-template-rows: 1fr 0.5fr;
  grid-template-columns: 1fr;
  min-height: 100vh;

  @include until(s) {
    grid-template-rows: 0.5fr 1fr;
  }
}

header {
  padding: 0 2rem;

  @include until(s) {
    padding: 0 1rem;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;

    a {
      display: flex;
      align-items: center;
      &, &:hover {
        text-decoration: none;
      }
      min-height: 4rem;
      transition: .3s ease all;

      &.active {
        font-weight: bold;
        @include until(m) {
            display: none;
        }
      }
    }
  }
}

a.block {
  color: $gray;
  display: block;
  padding: 1rem;
  text-decoration: none;
  position: relative;
  text-align: center;

  .block__title {
    color: $dark;
  }

  .block__title,
  .block__subtitle {
    transition: .2s ease color;
  }

  &:before {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: $border-radius-large;
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0);
    transform: scale(1.1);
    transition-duration: .2s;
    z-index: -1;
    transition-property: background, transform;
  }

  &:hover {
    &:before {
      transform: scale(1);
      background: $background-light;
    }

    .block__title {
      color: $primary;
    }

    .block__subtitle {
      color: $dark;
      transition: .2s ease color;
    }
  }

  &.outline {
    padding: 1rem 2rem;
    text-align: inherit;

    &:before {
      transition: .3s ease background;
      transform: none;
      border: 0.125rem solid mix($gray-light, $background, 50%);
    }

    &:hover:before {
      border-color: mix($primary, $background-light, 50%);
      background: mix($background-light, rgba(0, 0, 0, 0), 50%);
    }
  }

  &.sass:hover {
    .block__title {
      color: #CF649A;
    }
  }

  svg {
    height: 3.5rem;
  }
}

.router-wrapper {
  position: relative;
}

.docs-link {

  &,
  &:hover {
    text-decoration: none;
  }

  &:before {
    content: '#';
    opacity: 0;
    color: $primary;
    transition: .3s ease opacity;
    position: absolute;
    left: -1em;
  }

  &:hover:before {
    opacity: 1;
  }

  &:visited {
    color: $dark;
  }
}

.docs-hero {
  h1 {
    margin-bottom: 0;
  }

  h3 {
    margin-top: 0.5rem;
  }

  .hero-body {
    padding: 3rem 0;
  }
}

//cube float animation
@keyframes float {

  0%,
  100% {
    transform: translateX(0);
    transform-origin: center;
  }

  50% {
    transform: translateY(-1.5rem);
  }
}

.cubed-logo {
  .cubed-left {
    stroke-dasharray: 225;
    stroke-dashoffset: 225;
    animation: drawcube 6s forwards;
  }

  .cubed-right-1 {
    stroke-dasharray: 63;
    stroke-dashoffset: 63;
    animation: drawcube 6s forwards;
    opacity: 0.75;
  }

  .cubed-right-2 {
    stroke-dasharray: 97;
    stroke-dashoffset: 97;
    animation: drawcube 6s forwards;
    opacity: 0.75;
  }
}

@keyframes drawcube {
  0% {
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: #fff;
  }

  70% {
    fill-opacity: 0;
  }

  90% {
    stroke-opacity: 1;
    stroke: #fff;
    stroke-dashoffset: 0;
  }

  100% {
    fill-opacity: 1;
    stroke-opacity: 0;
  }
}
