/* You can add global styles to this file, and also import other style files */

@import "assets/scss/cubed-css/cubed";

li {
    list-style: none;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr;
    grid-template-areas: "header" "content";
    color: $gray;
    padding: 0 1rem;
}

body {
    overflow: hidden;
}