@import 'variables';

.docs__grid {
    display: grid;
    height: 100%;
    grid-template-columns: 10rem 1.7fr;
    grid-template-rows: 1fr;
    grid-template-areas: "docs__sidebar docs__content";
}
  
.docs__sidebar { 
    grid-area: docs__sidebar;
    padding: 1rem 1rem 1rem 0;
    ul {
        padding: 0;
        margin: 0;
        li {
            a {
                color: $gray;
                text-decoration: none;
                &:hover, &:focus {
                    color: $black;
                }
                &.active {
                    color: $black;
                    font-weight: bold;
                }
                padding: 0.5rem 0;
                display: block;
            }
        }
    }
}

.docs__content { 
    padding: 1rem; 
    grid-area: docs__content; 
}