<section class="controls" id="controls">
    <h2>Form</h2>
    <p>We use custom, SVG-based controls to create a modern and consistent look across all mediums.</p>
    <div class="row control-row">
        <div class="col-xs">
            <h3>Checkboxes</h3>
            <div class="row">
            <div class="col-xs">
            <div class="checkbox">
                <input name="pizza" id="pizza" type="checkbox" value="1" checked="checked">
                <label for="pizza">
                    <div class="checkbox-box">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 25"><path d="M6 15l10 10L35 3" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="10"></path></svg>
                    </div>
                    <span class="checkbox-text">
                    Pizza</span>
                </label>
            </div>
            </div>
            </div>
            <div class="row">
            <div class="col-xs">
            <div class="checkbox">
                <input name="pasta" id="pasta" type="checkbox" value="1">
                <label for="pasta">
                    <div class="checkbox-box">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 25"><path d="M6 15l10 10L35 3" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="10"></path></svg>
                    </div>
                    <span class="checkbox-text">
                    Pasta</span>
                </label>
            </div>
            </div>
            </div>
            <div class="row">
            <div class="col-xs">
            <div class="checkbox">
                <input name="pancakes" id="pancakes" type="checkbox" disabled>
                <label for="pancakes">
                    <div class="checkbox-box">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 25"><path d="M6 15l10 10L35 3" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="10"></path></svg>
                    </div>
                    <span class="checkbox-text">
                    Pancakes</span>
                </label>
            </div>
            </div>
            </div>
            <div class="row">
            <div class="col-xs">
            <div class="checkbox">
                <input name="papaya" id="papaya" type="checkbox" disabled checked="checked">
                <label for="papaya">
                    <div class="checkbox-box">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 25"><path d="M6 15l10 10L35 3" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="10"></path></svg>
                    </div>
                    <span class="checkbox-text">
                    Papaya</span>
                </label>
            </div>
            </div>
            </div>
        </div>
        <div class="col-xs">
            <h3>Radio Buttons</h3>
            <div class="row">
            <div class="col-xs">
                <input name="food" id="banana" type="radio" checked="checked">
                <label for="banana">
                    Banana
                </label>
            </div>
            </div>
            <div class="row">
            <div class="col-xs">
                <input name="food" id="butter" type="radio">
                <label for="butter">
                    Butter
                </label>
            </div>
            </div>
            <div class="row">
            <div class="col-xs">
                <input name="food2" id="bread" type="radio" disabled>
                <label for="bread">
                    Bread
                </label>
            </div>
            </div>
            <div class="row">
            <div class="col-xs">
                <input name="food2" id="beans" type="radio" checked="checked" disabled>
                <label for="beans">
                    Beans
                </label>
            </div>
            </div>
        </div>
    </div>
</section>